<div class="col-12 col-md-6 col-lg-4 text-item__container">
  <div class="card text-item">
    <div class="movie-image">
      <%= embed_youtube( movie.url ) %>
    </div>
    <div class="card-body">
      <% if movie.watch_finished?(current_user)%>
        <%= link_to "視聴済みを解除",movie_watch_progresses_path(movie),class:"btn btn-primary text-list__button",method: :delete%>
      <% else%>
        <%= link_to "視聴済みにする",movie_watch_progresses_path(movie),class:"btn btn-secondary text-list__button",method: :post%>
      <% end %>
      <p class="text-list__title">Lv.<%= movie_counter + 1 + @movies.offset_value %> : <%= movie.title %></p>
    </div>
  </div>
</div>
