<%= link_to text_path(text) do %>
  <div class="col-12 col-md-6 col-lg-4 text-item__container">
    <div class="card text-item">
      <%= image_tag("default_image.jpeg")  %>
      <div class="card-body">
      
      <p id="text-<%= text.id%>">
        <% if text.read_finished?(current_user)%>
          <%= render "finished",text: text%>
        <% else%>
          <%= render "unfinished",text: text%>
        <% end %>
      </p>
        <p class="text-list__title"><%= text.title %></p>
        <p>【Basic】</p>
      </div>
    </div>
  </div>
<% end %>
